version: "3.9"

services:
  web:
    build: ./web
    container_name: web
    ports:
      - "5000:5000"

  tests:
    build: ./tests
    container_name: tests
    depends_on:
      - web
    restart: "no"